<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <form class="card card-sm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
          <i class="fa fa-search h4 text-body"></i>
        </div>
        <!--end of col-->
        <div class="col">
          <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
        </div>
        <!--end of col-->
        <div class="col-auto">
          <button class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
        <!--end of col-->
      </div>
    </form>
  </div>
  <!--end of col-->
</div>

<div class="row justify-content-md-center card-deck">
  <div class="col-sm-12 col-md-3 col-lg-3" *ngFor="let show of shows">
    <div class="card">
      <img class="card-img-top" src="{{show.img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ show.title }}</h5>
        <p class="card-text"> {{ show.description }} </p>
        <a href="#" class="btn btn-primary">{{ show.link }}</a>
      </div>
    </div> <!-- //end card -->
  </div> <!-- //end col -->
</div>
