<div class="row justify-content-center">
  <h1>{{show.title}}</h1>
</div>

<div class="row justify-content-center">
  <div id="edit-show">
    <form (ngSubmit)="f.form.valid && submitEdits()" #f="ngForm">
      <div class="form-group">
        <label class="font-weight-bold" for="title"> Change title </label>
        <input type="text" class="form-control" name="title"
        [(ngModel)]="updateShow.title" #description="ngModel">
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="profilePic"> Change display picture </label>
        <br>
        <input type="file" name="show-image" [(ngModel)]="updateShow.image" #username="ngModel" accept="image/*">
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="description"> Change description </label>
        <textarea id="show-description" type="text" class="form-control" name="description" [(ngModel)]="updateShow.description" #description="ngModel">
        </textarea>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="link"> Change URL link </label>
        <input type="text" class="form-control" name="link" [(ngModel)]="updateShow.link" #description="ngModel">
      </div>

      <div class="form-group">
        <input type="checkbox" aria-label="Airing Date" id="checkboxAiringDate" [(ngModel)]="airingChecked" name="airingChecked">
        <label for="link">Airing Date</label>

        <div *ngIf="airingChecked" class="d-flex flex-row">
          <select class="form-control p-2" id="hourSelect" [(ngModel)]="date.hour" name="hour">
              <option *ngFor="let hour of hours">{{hour}}</option>
            </select>

          <select class="form-control p-2" id="daySelect" [(ngModel)]="date.day" name="day">
              <option *ngFor="let day of days">{{day}}</option>
            </select>

            <select class="form-control p-2" id="monthSelect" [(ngModel)]="date.month" name="month">
              <option *ngFor="let month of months">{{month}}</option>
            </select>

            <select class="form-control p-2" id="yearSelect" [(ngModel)]="date.year" name="year">
              <option *ngFor="let year of years">{{year}}</option>
            </select>
        </div>
      </div>

      <div class="form-group">
        <input type="checkbox" aria-label="Airing Interval" id="checkboxAiringInterval" [(ngModel)]="intervalChecked" name="intervalChecked">
        <label for="interval">Airing Interval (Days)</label>
        <input *ngIf="intervalChecked" type="number" class="form-control" id="interval"
          [(ngModel)]="updateShow.airInterval" name="airInterval">
      </div>

      <div>
        <button type="submit" *ngIf="getCheckAdmin()" class="btn btn-success">Submit changes</button>
        <button type="submit" *ngIf="!getCheckAdmin()" class="btn btn-success">Submit changes for review</button>
        <button type="button" (click)="resetEdits()" class="btn btn-primary shadow">Discard changes</button>
      </div>
    </form>
  </div>
</div>
