<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">ShowTime</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="grid">Home</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="grid">User</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="getCheckUser() && setUser()">
        {{user.username}}
      </a>
      <a class="nav-item nav-link" *ngIf="!getCheckUser()" routerLink="register">
        Register
      </a>
    </div>
  </div>
</nav>
